$brand: #80b421;
$g: #6d6d6d;
$w: #fff;

p 
{
    color: $g;
}
.navbar-light {
  .navbar-brand {
      font-weight: bold;
      color: $g;
      font-size: 32px;
      strong 
      {
          color: $brand;
      }
  }
  .navbar-nav {
    .nav-link {
      padding: 10px 15px;
      font-size: 18px;
      &.active {
        background: $brand;
        color: $w;
      }
    }
  }
}

.carousel-caption
{
    bottom: 10rem;
    h5 
    {
        font-size: 3rem;
        background: rgba($color: $brand, $alpha: 0.5);
        display: inline-block;
        padding: 20px;
    }
    p 
    {
        font-size: 30px;
    color: #1C4604;
    font-weight: bold;
    text-shadow: #fff 1px 1px 1px;
    }
   
}
.carousel-indicators [data-bs-target]
{
    width: 13px; height: 13px; border-radius: 50%;
}
.block1
{
    background: $brand;
}
.block2 
{
    background: #2C2C2C;
    i 
    {
        color: $brand;
    }
}
.circle
{
    width: 45px; height: 45px; background: $brand;
    margin: 20px auto; border-radius: 50%;
}
.footer-top
{
    background: #242424;
}
.footer-bottom
{
  background: #131313;
}
.arrow
{
    width: 40px;
    height: 40px;
    background: #131313;
    border-radius: 50%;
    position: fixed;
    right: 20px;
    bottom: 20px; 
    text-align: center;
    line-height: 40px;
    display: none;
    a 
    {
        color: #fff;
    }
}
.abc 
{
    position: relative;
    &:hover 
    {
        &::before
        {
            display: block;  transition: 0.9s;
        }
        h3 
        {
            transform: translate(-50%,-50%);
            display: block;
        }
    }
    &::before 
    {
        content: '';
        position: absolute;
        width: 100%;
        background: rgba($color: $brand, $alpha: 0.5);
        height: 100%;
        display: none;
      
    }
    h3 
    {
        position: absolute;
        top: 0;
        left: 0;
        color: #fff;
        left: 50%;
        top: 50%;
      
        transition: 0.9s;
        display: none
    }
}